/* 

1) Configuración general
2) Nav

*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --red: #E03138;
  --white: #fff;
  --black: #000;
  --gray: #1a1a1a;
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  scroll-behavior:smooth;
}

body {
  color: #555;
  background: var(--white);
  margin:0;
  line-height: 1.6em;
  overflow-x: hidden;
}

::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-thumb{background-color:#ccc; border-radius:8px}

a {
  outline: none;
  text-decoration: none;
}

a {
  color: #585858;
}

a a:focus, a:hover {
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

form, fieldset, legend {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  display: none;
}

label, input, textarea, select, button {
  display:inline; 
  resize:none; 
  outline:none; 
  color:inherit; 
  font-size:inherit; 
  font-family:inherit;
  vertical-align:middle }

body > div {
  padding-left: 90px;
}

/*****************************
*********** 1) Nav ***********
*****************************/

nav {
  position: fixed;
  left: 0;
  height: 100%;
  width: 90px;
  color: #fff;
  background: var(--red);
  z-index: 99;
}

nav a {
  color: #fff;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  height: 80%;
}

nav li {
  width: 100%;
}

.lenguage {
  display: flex;
  justify-content: center;
}

.lenguage img {
  width: 22px;
  margin-right: 5px;
}

nav .contact {
  width: max-content;
  display: flex;
  position: relative;
  left: -20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  transform: rotate(-90deg);
}

nav .logo {
  position: relative;
  margin: 3% 0;
  height: 14%;
}

/*****************************
********* 1) Video ***********
*****************************/

#presentation {
  position: relative;
}

#presentation video {
  width: 100%;
}

.video-presentation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  background: var(--gray);
  bottom: 0;
  right: 0;
}

/*****************************
******* 2) About Us **********
*****************************/

#about-us {
  position: relative;
  width: 100%;
  min-height: 400px;
  padding: 0 40px 40px 0;
  background: var(--red);
  color: var(--white);
}

#about-us > div {
  background: center url(../img/about-us.png) var(--red);
  background-size: cover;
  border-bottom-right-radius: 60px;
  padding: 50px 25px;
}

#about-us h1 {
  font-size: 42px;
  line-height: 42px;
  width: 80%;
  margin: 25px 0;
}

#about-us p {
  width: 80%;
  font-size: 16px;
  line-height: 18px;
  text-shadow: 1px 1px 9px #000;
}

#about-us a {
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  display: block;
}

.about-us-section {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  font-weight: 600;
  font-size: 13px;
  justify-content: center;
  gap: 5px;
}

