/* 

1) Configuración general
2) Nav
3) Video
4) About Us
5) Services
6) Our Work
7) News
8) Work with us
9) Footer

******************************
** 1) Configuración general **
******************************/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --red: #E03138;
  --white: #fff;
  --black: #000;
  --gray: #1a1a1a;
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  scroll-behavior:smooth;
}

body {
  color: #555;
  background: var(--red);
  margin:0;
  line-height: 1.6em;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius:6px;
}

a {
  outline: none;
  text-decoration: none;
}

a {
  color: #585858;
}

a a:focus, a:hover {
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

form, fieldset, legend {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  display: none;
}

label, input, textarea, select, button {
  display:inline; 
  resize:none; 
  outline:none; 
  color:inherit; 
  font-size:inherit; 
  font-family:inherit;
  vertical-align:middle }

body > div {
  padding-left: 90px;
}

/*****************************
*********** 2) Nav ***********
*****************************/

nav {
  position: fixed;
  left: 0;
  height: 100%;
  width: 90px;
  color: #fff;
  background: var(--red);
  z-index: 99;
}

nav a {
  color: #fff;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  height: 80%;
}

nav li {
  width: 100%;
}

.lenguage {
  display: flex;
  justify-content: center;
}

.lenguage img {
  width: 22px;
  margin-right: 5px;
}

nav .contact {
  width: max-content;
  display: flex;
  position: relative;
  left: -20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  transform: rotate(-90deg);
}

nav .logo {
  position: relative;
  margin: 3% 0;
  height: 14%;
}

/*****************************
********* 3) Video ***********
*****************************/

#presentation {
  position: relative;
}

#presentation video {
  width: 100%;
}

.video-presentation::after {
  position: absolute;
  width: 100%;
  height: 40px;
  background: var(--gray);
  bottom: 0;
  right: 0;
}

/*****************************
******* 4) About Us **********
*****************************/

#about-us {
  position: relative;
  width: 100%;
  margin-top: -7px;
  min-height: 400px;
  padding: 0 60px 60px 0;
  background: var(--red);
  color: var(--white);
}

.about-us::after {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background: #020507;
  transform: rotateZ(180deg);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 59px, black 60px);
  top: 0;
  right: 0;
}

#about-us > div {
  background: center url(../img/about-us.png);
  background-size: cover;
  border-bottom-right-radius: 60px;
  padding: 50px 25px;
}

#about-us h1 {
  font-size: 42px;
  line-height: 42px;
  width: 60%;
  margin: 25px 0;
}

#about-us p {
  width: 60%;
  font-size: 16px;
  line-height: 18px;
  text-shadow: 1px 1px 9px #000;
}

#about-us a {
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  display: block;
}

.about-us-section {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  font-weight: 600;
  font-size: 13px;
  justify-content: center;
  gap: 5px;
}

/*****************************
******* 5) Services **********
*****************************/

#services {
  position: relative;
  background: center url(../img/services.png);
  background-size: cover;
  padding: 10% 25px 25%;
}

#services > img {
  position: absolute;
  width: 100%;
  bottom: -2%;
  left: 0;
  z-index: 1;
}

#services h1 {
  font-size: 42px;
  line-height: 42px;
  width: 40%;
  margin: 25px 0;
  color: var(--red);
}

#services p {
  width: 40%;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray);
}

#services a {
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  display: block;
  color: var(--red);
}

.services-section {
  color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  font-weight: 600;
  font-size: 13px;
  justify-content: center;
  gap: 5px;
}

/*****************************
******* 6) Our Work **********
*****************************/

#our-work {
  position: relative;
  background: center url(../img/our-work.png);
  background-size: cover;
  padding: 20% 25px;
  margin: -15% 0 10px 0;
  color: var(--white);
}

#our-work h1 {
  font-size: 42px;
  line-height: 42px;
  width: 40%;
  margin: 25px 0;
}

#our-work p {
  width: 40%;
  font-size: 16px;
  line-height: 18px;
  text-shadow: 1px 1px 9px #000;
}

#our-work a {
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  display: block;
}

.our-work-section {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  font-weight: 600;
  font-size: 13px;
  justify-content: center;
  gap: 5px;
}

/*****************************
********* 7) News ************
*****************************/

#news {
  position: relative;
  width: 100%;
  padding: 0 60px 0 0;
  background: var(--red);
  color: var(--gray);
}

.news::after {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background: #c5c9cc;
  transform: rotateZ(90deg);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 59px, black 60px);
  bottom: 0;
  right: 0;
}

#news > div {
  background: center url(../img/news.png);
  background-size: cover;
  border-top-right-radius: 60px;
  padding: 50px 25px;
  margin: 50px 0 0;
}

#news h1 {
  font-size: 42px;
  line-height: 42px;
  width: 60%;
  margin: 25px 0;
}

#news p {
  width: 60%;
  font-size: 16px;
  line-height: 18px;
}

#news a {
  color: var(--gray);
  margin-top: 20px;
  font-weight: 600;
  display: block;
}

.news-section {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  font-weight: 600;
  font-size: 13px;
  justify-content: center;
  gap: 5px;
}

/*****************************
****** 8) Work with us *******
*****************************/

#work-with-us {
  position: relative;
  background: center url(../img/work-with-us.png);
  background-size: cover;
  padding: 10% 25px;
  color: var(--white);
}

#work-with-us > img {
  position: absolute;
  width: 100%;
  bottom: -2%;
  left: 0;
  z-index: 1;
}

#work-with-us h1 {
  font-size: 42px;
  line-height: 42px;
  width: 40%;
  margin: 25px 0;
  text-shadow: 1px 1px 7px rgb(0,0,0,0.5);
}

#work-with-us p {
  width: 40%;
  font-size: 16px;
  line-height: 18px;
  text-shadow: 1px 1px 7px rgb(0,0,0,0.5);
}

#work-with-us a {
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  display: block;
}

.work-with-us-section {
  display: flex;
  flex-wrap: wrap;
  width: 105px;
  font-weight: 600;
  font-size: 13px;
  justify-content: center;
  gap: 5px;
}

/*****************************
********* 9) Footer **********
*****************************/

footer {
  position: relative;
  background: var(--white);
  width: 100%;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--red);
}

footer section:first-child {
  width: 15%;
}

footer section:nth-child(2n) {
  width: 85%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

footer ul:first-child {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 25px;
}

footer ul:nth-child(2n) {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
  margin: 15px 0;
  font-size: 12px;
}

footer a {
  color: var(--red);
}

footer ul hr {
  background: var(--red);
  border: none;
  width: 1px;
}