/* 

1) Configuración general
2) Nav
3) Video
4) Footer
5) Secciones
6) 

******************************
** 1) Configuración general **
******************************/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --red: #E03138;
  --white: #fff;
  --black: #000;
  --gray: #1a1a1a;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em;
  scroll-behavior: smooth;
}

body {
  background: var(--red);
  overflow-x: hidden;
  font-family: system-ui;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

a {
  outline: none;
  text-decoration: none;
}

a a:focus, a:hover {
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

form, fieldset, legend {
  margin: 0;
  padding: 0;
  border: none;
}

label, input, textarea, select, button {
  display: inline; 
  resize: none; 
  outline: none; 
  vertical-align: middle;
}

body > div {
  padding-left: 90px;
}

/*****************************
*********** 2) Nav ***********
*****************************/

nav {
  position: fixed;
  left: 0;
  height: 100%;
  width: 90px;
  color: #fff;
  background: var(--red);
  z-index: 98;
}

nav a {
  color: #fff;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  height: 80%;
  list-style: none;
  z-index: 99;
}

nav li {
  width: 100%;
}

.lenguage {
  display: flex;
  justify-content: center;
}

.lenguage img {
  width: 22px;
  margin-right: 5px;
}

nav .contact a {
  width: max-content;
  display: flex;
  position: relative;
  left: -20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  transform: rotate(-90deg);
  user-select: none;
}

nav .logo {
  position: relative;
  margin: 3% 0;
  height: 14%;
}

#menuNav {
  background: var(--red);
  width: calc(100% - 90px);
  height: 100%;
  position: fixed;
  left: -100%;
  top: 0;
  transition: 0.5s;
  z-index: 97;
  display: flex;
  align-items: center;
}

#menuNav.active {
  transition: 0.5s;
  left: 90px;
}

#menuNav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 20px;
  line-height: 35px;
  font-weight: 600;
  width: 70%;
  max-width: 370px;
}

#menuNav li {
  position: relative;
}

#menuNav ul hr {
  position: absolute;
  width: 100%;
  top: 16px;
  left: -100%;
  border: none;
  background: #fff;
  height: 2px;
}

#menuNav a {
  color: #fff;
  background: var(--red);
  z-index: 1;
  position: relative;
  padding-right: 10px;
}

#menuNav span {
  position: absolute;
  left: 220px;
  float: right;
  max-width: 90%;
  background: var(--red);
  padding: 3px;
  line-height: 12px;
  opacity: 0;
  transition: all 0.3s;
}

#menuNav li:hover span {
  opacity: 1;
  transition: all 0.3s;
}

#menuNav span a {
  display: block;
  font-size: 14px;
  padding: 6px;
  transition: 0.3s;
}

#menuNav span a:hover {
  background: var(--white);
  color: var(--gray);
  border-radius: 2px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  body > div {
    padding-left: 0;
  }
  nav {
    width: 100%;
    height: 70px;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  nav .logo {
    position: absolute;
    width: auto;
    height: 110px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: var(--red);
    border-radius: 50%;
    padding: 12px;
  }
  nav ul {
    height: auto;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  nav ul li {
    width: auto;
  }
  nav .contact {
    display: none;
  }
  #menuNav.active {
    left: 0;
    width: 100%;
  }
  #menuNav ul {
    margin-left: 10%;
  }
}

/*****************************
********* 3) Video ***********
*****************************/

#presentation {
  position: relative;
  background: var(--gray);
  padding-bottom: 50px;
}

#presentation video {
  width: 100%;
}

/*****************************
********* 4) Footer ***********
*****************************/

footer {
  position: relative;
  background: var(--white);
  width: 100%;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--red);
}

footer section:first-child {
  width: 15%;
}

footer section:nth-child(2n) {
  width: 85%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

footer ul:first-child {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 25px;
}

footer ul:nth-child(2n) {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 9px;
  margin: 15px 0;
  font-size: 12px;
}

footer a {
  color: var(--red);
}

footer ul hr {
  background: var(--red);
  border: none;
  width: 1px;
}

@media (max-width: 768px) {
  footer section:first-child {
    width: 50%;
  }
  footer ul:first-child {
    margin: 25px 0;
  }
  footer section:nth-child(2n), footer ul:nth-child(2n) {
    width: 100%;
    justify-content: space-around;
    font-size: 13px;
  }
}

/*****************************
******* 5) Secciones *********
*****************************/

article {
  position: relative;
  width: 100%;
  background: var(--red);
  color: var(--white);
}

article > div {
  min-height: 500px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

article > div > section:first-child {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 13px;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

article > div > section:first-child img {
  width: 70px;
}

article > div > section:first-child span {
  width: 100%;
}

article h1 {
  font-size: 42px;
  line-height: 42px;
  width: 60%;
  margin: 25px 0;
}

article p {
  width: 60%;
  font-size: 16px;
  line-height: 18px;
  text-shadow: 1px 1px 9px #000;
}

article a {
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  display: block;
}

.flex-between {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-between section {
  width: 50%;
}

.red-top-right {
  margin-top: 60px;
}

.red-top-right::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 100%;
  background: var(--red);
  top: 0;
  right: 0;
  border-bottom-left-radius: 60px;
}

.red-top-right::before {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
   transform: rotateZ(-90deg);
  background: var(--red);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 59px, black 60px);
  top: -2px;
  right: 58px;
}

.red-bottom-right {
  margin-bottom: 60px;
}

.red-bottom-right::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 100%;
  background: var(--red);
  top: 0;
  right: 0;
  border-top-left-radius: 60px;
}

.red-bottom-right::before {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background: var(--red);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 59px, black 60px);
  bottom: -2px;
  right: 58px;
}

.red-slider-bottom::before {
  content: '';
  position: absolute;
  width: 62px;
  height: 57px;
  background: var(--red);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 59px, black 60px);
  bottom: 0;
  left: calc(64% - 9px);
  transform: rotateZ(90deg);
}

.red-slider-bottom::after {
  content: '';
  position: absolute;
  width: 64%;
  height: 75px;
  background: var(--red);
  bottom: 0;
  left: 0;
  border-top-right-radius: 60px;
}

.red-slider-top::before {
  content: '';
  position: absolute;
  width: 62px;
  height: 57px;
  background: var(--red);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 59px, black 60px);
  top: 0;
  right: calc(60% - 9px);
  transform: rotateZ(-90deg);
}

.red-slider-top::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 75px;
  background: var(--red);
  top: 0;
  right: 0;
  border-bottom-left-radius: 60px;
}

/* About Us */

#about-us {
  margin: -7px 0 60px;
}

#about-us > div {
  background: center url(../img/nosotros.png);
  background-size: cover;
}

/* Services */

#services {
  background: center url(../img/servicios.png);
  background-size: cover;
}

#services > img {
  position: absolute;
  width: 100%;
  bottom: -2%;
  left: 0;
  z-index: 1;
}

/* Nuestro trabajo */

#our-work {
  background: center url(../img/nuestro_trabajo.png);
  background-size: cover;
}

/* Noticias */

#news > div {
  background: center url(../img/noticias.png);
  background-size: cover;
}

/* Trabaja con nosotros */

#work-with-us {
  background: center url(../img/trabaja.png);
  background-size: cover;
}

#work-with-us > img {
  position: absolute;
  width: 100%;
  bottom: -2%;
  left: 0;
  z-index: 1;
}