RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,QSA]

Aplication AddType / x-httpd-php .php .htm .html AddHandler x-httpd-php .php .htm .html

# Prevenir hotlinking
RewriteEngine on 
RewriteCond %{HTTP_REFERER} !^$
RewriteRule .*\.(gif|GIF|jpg|JPG|bmp|BMP|wav|mp3|wmv|avi|mpeg)$ - [F]

# Especificar códificación de caracteres
AddDefaultCharset utf-8

# Impedir acceso a directorios
Options All -Indexes

# Autoproteccion
<Files .htaccess>
Order allow,deny
Deny from all
</Files>